
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  display: flex;
  background-image: url("../img/inicial.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover
}


.text{
    color: #000000;
    text-shadow: 2px 3px 5px #000000;
    font-size:60px;
    background-color:#e49b34;
    border: 1px solid #250204;
    border-radius: 5px;
    box-shadow: 4px 8px 16px #370e05;
    padding: 5px;
    font-family: "Georgia";
    font-family: 'Noto Serif TC', serif;
    font-family: "IM Fell English SC", serif;
    height: 35%;
    width:35%;
    position: absolute;
    top: 30%;
    left: 32%;
}

.text2{
    color: #800000;
    text-shadow: 2px 3px 5px #000000;
    font-size:40px;
    font-family: 'Merienda', cursive;
    font-family: 'Niconne', cursive;
    height: 7%;
    position: absolute;
    top: 42%;
    left: 40%;
}

.jogar{
    color: #fff;
    height: 10%;
    position: absolute;
    top: 55%;
    left: 47%;

}

.jogar > a{
    cursor: url('../img/swordGoT2.bmp') 2 2, url('../img/swordGoT2.png') 2 2, pointer;
    display:block;

}

.btn, .btn-primary, .jogar > a.btn-primary:visited {
    background-color: #900505;
    border-color: #610800;
    box-shadow: 3px 4px #000000;

}

.jogar > a.btn-primary:hover, .jogar > a.btn-primary:active:focus, .jogar > a.btn-primary.active {
    color:#000000;
    background-color: #a32927;
}

.btn-primary:active, {
      transform: translateY(4px);
}
