
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  display: flex;
  background-image: url("../img/inicial.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover
}

.center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    overflow: auto;
    background-color:#e49b34;
    border: 1px solid #250204;
    border-radius: 5px;
    box-shadow: 4px 8px 16px #370e05;
    padding: 20px;

}

.text{
    color: #000000;
    text-shadow: 2px 3px 5px #000000;
    font-size:60px;
    font-family: "Georgia";
    font-family: 'Noto Serif TC', serif;
    font-family: "IM Fell English SC", serif;
}

.text2{
    color: #800000;
    text-shadow: 2px 3px 5px #000000;
    font-size:40px;
    font-family: 'Merienda', cursive;
    font-family: 'Niconne', cursive;
}

.btn, .btn-primary, a.btn-primary:visited {
    color: #fff;
    background-color: #900505;
    border-color: #610800;
    box-shadow: 3px 4px #000000;
}

a.btn-primary:hover, a.btn-primary:active:focus, a.btn-primary.active {
    color:#000000;
    background-color: #a32927;
    cursor: url('../img/swordGoT2.bmp') 2 2, url('../img/swordGoT2.png') 2 2, pointer;
}

.btn-primary:active, {
      transform: translateY(4px);
}
