
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  display: flex;
  background-image: url("../img/inicial.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover
}

.pergaminho{
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height:100%;
    padding-bottom:0;
    text-align: justify;
}

.pergaminho-img{
    position: absolute;
    padding-bottom:0;
    top:0%; 
    width: 50%;
    height:110%;
    z-index:-1;
}

.text{
    padding-top:15%; 
    padding-left:15%;
    padding-bottom:10%;
    padding-right:5%;
    height:100%;
    color: #000000;
    font-size:24px;
    line-height: 1;
    font-family: "Georgia";
    font-family: 'Merienda', cursive;
    font-family: 'Niconne', cursive;
    z-index:0;
}

#Pag1{
    display:block;
}

#Pag2{
    display:none;
}

#btnPag1, #btnPag2{
  cursor: pointer;
  position: absolute;
  top: 87%;
  left:65%;
  width: auto;
  margin-top: -20px;
  padding: 16px;
  color: #000000;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 15px;
  font-family: "Georgia";
  user-select: none;
}

#btnPag1{
    display:none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #fff;
    background-color: #D2691E;
    border-color:#610800;
    cursor: url('../img/swordGoT2.bmp') 2 2, url('../img/swordGoT2.png') 2 2, pointer;

}


