
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  display: flex;
  background-image: url("../img/inicial.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover
}

.pergaminho{
    position: relative;
    width: 50%;
    height:100vh;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0;
}

.text{
    position: absolute;
    top:10%;
    color: #000000;
    padding:30px 30px;
    margin-left: 60px;
    margin-right:110px;
    font-size:23px;
    line-height: 1.2;
    font-family: "Georgia";
    font-family: 'Merienda', cursive;
    font-family: 'Niconne', cursive;
    display:block;
}

#Pag2{
    display:none;
}

#btnPag1, #btnPag2{
  cursor: pointer;
  position: absolute;
  top: 90%;
  left:70%;
  width: auto;
  margin-top: -20px;
  padding: 16px;
  color: #000000;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 15px;
  font-family: "Georgia";
  user-select: none;
}

#btnPag1{
    display:none;
}

.jogar{
    color: #fff;
    height: 10%;
    position: absolute;
    top: 100%;
    left: 45%;
    transform: translate(-50%, 0%);
}

.jogar > a{
    cursor: url('../img/swordGoT2.bmp') 2 2, url('../img/swordGoT2.png') 2 2, pointer;
    display:block;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #D2691E;
    border-color:#610800;
}


