
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  display: flex;
  background-image: url("../img/layout.bmp");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover
}

.divEsquerda {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

.bau{
    position: absolute;
    height: 100px;
    visibility: visible;
    left: 17%;
    top: 0%;
    z-index: 200;
}

.conteudo{
    position: absolute;
    font-size: 13px;
    left: 8%;
    top: 20%;
    width: 410px;
    height: 221px;
    color: #4682B4;
    font-family: "Georgia";
}

/* estilo das tabs*/
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
    color: #fff;
    background-color: #4682B4;
}

.nav-pills > li > a {
    font-family: "Georgia";
    color: #215670;
}
								  
.nav-pills > li > a.disabled {
    color: #708090;
}

/* fim estilo*/

.brasoes-familias{
    position: absolute;
    width: 50%;
}

.brasao-stark{
    position: absolute;
    display: block;
    transform: scale(0.1);
    visibility: visible; 
    left: 10px; 
    top: 10px; 
    z-index: 400;
}

.mapa-BoT {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

area{
    cursor: url('../img/swordGoT2.bmp') 2 2, url('../img/swordGoT2.png') 2 2, pointer;
    display:block;
 }
 
.regiao-mapa {
  width: 10%;
  margin: 0;
  position: absolute;
  display:block;
  transform: scale(0.25);
  transform-style: preserve-3d; 
  transition: transform .5s; /* outro efeito: fade? */
}

/* active by id?
.regiao-mapa:active {
  transform: scale(1.3);
  transition: transform .5s;
}
*/

.regiao-mapa.switch .BR-face {
  display:block;
}

.regiao-mapa.switch .family-face {
  display:none;
}

.estado-mapa {
  width: 15%;
  margin: 0;
  position: absolute;
  transform: scale(0.25);
  transform-style: preserve-3d; 
  transition: transform .5s;
}

.estado-mapa.switch .BR-face {
  display:block;
}

.estado-mapa.switch .family-face {
  display:none;
}

.BR-face,
.family-face {
  padding: 0;
  position: absolute;
  border-radius: 0;
  background: transparent;
  backface-visibility: hidden;
  display:block;
}

.BR-face {
  display:none;
}


/* Classe utilizadas para selecionar múltiplos estados de uma região*/ 
.Norte {}
.Nordeste {}
.CentroOeste {}
.Sudeste {}
.Sul {}


/****************************** NORTE ***************************************/
#Norte{ position: absolute; visibility: visible; left: 108px; top: 130px; z-index: 300; }


#AM { position: absolute; visibility: visible; left: 95px; top: 164px; z-index: 200; }

#PA { position: absolute; visibility: visible; left: 273px; top: 160px; z-index: 201; }

#RR { position: absolute; visibility: visible; left: 202px; top: 127px; z-index: 202; }

#AC { position: absolute; visibility: visible; left: 92px; top: 277px; z-index: 202; }

#RO { position: absolute; visibility: visible; left: 179px; top: 286px; z-index: 203; }




/****************************** NORDESTE *************************************/
#Nordeste{ position: absolute; visibility: visible; left: 409px; top: 202px; z-index: 301;}

#TO { position: absolute; visibility: visible; left: 372px; top: 250px; z-index:202;}

#MA { position: absolute; visibility: visible; left: 395px; top: 202px; z-index: 200;}

#BA { position: absolute; visibility: visible; left: 421px; top: 296px; z-index: 201;}

#PI { position: absolute; visibility: visible; left: 428px; top: 224px; z-index: 202;}

#CE { position: absolute; visibility: visible; left: 484px; top: 224px; z-index: 203;}

#RN { position: absolute; visibility: visible; left: 518px; top: 251px; z-index: 204;}

#PB { position: absolute; visibility: visible; left: 515px; top: 263px; z-index: 205;}

#PE { position: absolute; visibility: visible; left: 487px; top: 280px; z-index: 204;}

#AL { position: absolute; visibility: visible; left: 522px; top: 297px; z-index: 205;}

#SE { position: absolute; visibility: visible; left: 519px; top: 305px; z-index: 202;}


/****************************** CENTRO-OESTE *********************************/
#CentroOeste{ position: absolute; visibility: visible; left: 254px; top: 280px; z-index: 302; }


#MT { position: absolute; visibility: visible; left: 240px; top: 279px; z-index: 200; }

#MS { position: absolute; visibility: visible; left: 274px; top: 400px; z-index: 201; }

#GO { position: absolute; visibility: visible; left: 342px; top: 343px; z-index: 203; }

/****************************** SUDESTE **************************************/
#Sudeste{ position: absolute; visibility: visible; left: 362px; top: 363px; z-index: 303; }


#MG { position: absolute; visibility: visible; left: 367px; top: 362px; z-index: 200; }

#SP { position: absolute; visibility: visible; left: 345px; top: 429px; z-index: 201; }

#RJ { position: absolute; visibility: visible; left: 445px; top: 442px; z-index: 202; }

#ES { position: absolute; visibility: visible; left: 479px; top: 408px; z-index: 203; }


/****************************** SUL ******************************************/
#Sul{ position: absolute; visibility: visible; left: 302px; top: 462px; z-index: 304; }


#PR { position: absolute; visibility: visible; left: 316px; top: 460px; z-index: 200; }

#SC { position: absolute; visibility: visible; left: 335px; top: 504px; z-index: 201; }

#RS { position: absolute; visibility: visible; left: 289px; top: 518px; z-index: 202; }


/*.regiao-mapa {
  display: none;
}*/

/*.estado-mapa {
  display: none;
}*/
